body
{
font-family: Arial;
font-size:12px;
}

#CI_E
{
position:relative;
width:80px;
padding: 1pt;
border:1px solid;
text-align: center; 
font-weight: normal; 
font-variant: small-caps;
border-color:#9f9f9f;
}

#CI
{
position:relative;
width:80px;
padding: 1pt;
border:1px solid;
text-align: center; 
font-weight: normal; 
font-variant: small-caps;
border-color:#9f9f9f;
}

#NOMBRE
{
width:300px;
position:relative;
border:1px solid;
text-align: center; 
font-weight: normal; 
font-variant: small-caps;
border-color:#9f9f9f;
}

#reloj
{
position:relative;
vertical-align: bottom;
visibility: hidden;
}

#lista
{
width:180px;
background-color:#ffffff;
color:#000000;
border:1px solid;
border-color:#000000;
z-index:1;
display:none;
margin-top: 5px;
}

#lista a
{
display: block;
background-color:#ffffff;
padding: 2pt;
}

#lista a:hover
{
background-color:#00aaaa;
}
   span.estilocontador{
      display: block;
      margin-top: 3px;
      width: 120px;
      font-size:8pt;
}